<h1>hey</h1>

<form action="http://localhost:3000/calculate_square_root" method="post">
  <label>The number</label>
  <input name = "my_number" type="text">

  <button> Submit</button>
</form>

<a href="http://www.google.com"> Go to Google</a>
